.top{background-color: #99d8c9;
  border: 1px solid #ccc;
  width: 90%;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.header{
  background-color: #99d8c9;
}
h1 {
  font-family: "Garamond", sans-serif;
  text-align: center;
}

.caption{
   font-family: "Garamond", sans-serif;
   font-style: oblique;
   font-size: 16;
   text-align: center;
   font-size: 11pt;
   color: white;
   padding: 8px;
  margin-bottom: 10px;
}


.place-name {
  font-family: "Garamond", sans-serif;
  font-style: bold;
    color: white;
  text-align: center;
  padding: 8px;
  background-color: #c994c7;
}

.time{
  text-align: center;
  font-family: "Garamond", sans-serif;
  border-color: grey;
  padding: 8px;
}


.front-image{
  display: block;
   margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: 20px #fee8c8;
  border-radius: 10px;
  margin-bottom: 10px;
}
.front-image:hover {
   background-color: #eee;
   cursor: pointer;
   border-color: #DAF7A6;

}

.col {
  float: left;
  width: 50%;
  display: inline-block;
}

#RIGHT-col {
  display: block;
}

#LEFT-col {
  display: block;
}


.list-item {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #ffffe5;
  border-color: #c994c7;
}
